h1 {
    color: rgb(153, 37, 37);
    font-size: 50px;
}
.image-container img{
  width: 500px;
  margin-right: 100px;
  margin-top: 00px;
  

}
.image-container{
    display: flex ;
    justify-content: center;
}